
@{
    ViewData["Title"] = "Tablet";
}

<section id="titleforall">
    <div class="titlecontact">
        <i class="fa-solid fa-house"></i>
        <p>Tablet</p>
    </div>

</section>


<section id="left">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="forborder">
                    <h5>Information</h5>
                    <a href="">
                        <p>About us</p>
                    </a>
                    <a href="">
                        <p>Delivery Information </p>
                    </a>
                    <a href="">
                        <p>Privacy Policy </p>
                    </a>
                    <a href="">
                        <p>Terms & Conditions </p>
                    </a>
                    <a href="">
                        <p>Contact Us </p>
                    </a>
                </div>

                <img class="reklamucun" src="/img/left-banner-315x460 (1).jpg" alt="">
                <div class="forborder">
                    <h5>Latest</h5>

                    <div class="d-flex forhoverimage">
                        <a href="">
                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>
                    <div class="d-flex forhoverimage">
                        <a href="">
                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>
                    <div class="d-flex forhoverimage">
                        <a href="">

                            <div class="imgg">

                            </div>
                            <div class="latest">
                                MacBook Pro (Retina, 15-inch, 8-Core CPU)
                                <div class="d-flex">
                                    <p class="latestp1">$26.00</p>
                                    <p class="latestp2">$241.99</p>
                                </div>
                            </div>

                        </a>

                    </div>


                </div>

            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3 smartphones ">
                        <a href="appletablet.html">
                            <img src="img/applesmartt.png" alt="">
                            <p>Apple</p>
                        </a>

                    </div>

                    <div class="col-lg-3 smartphones ">
                        <a href="samsungtablet.html">
                            <img src="img/logosamsung.jpg" alt="">
                            <p>Samsung</p>
                        </a>

                    </div>
                    <div class="col-lg-3 smartphones ">
                        <a href="huaveitablet.html">
                            <img src="img/huaveylogo3.jpg" alt="">
                            <p>Huawei</p>
                        </a>

                    </div>
                    <div class="col-lg-3 smartphones ">
                        <a href="lenovotablet.html">
                            <img src="img/lenovologo-1.png" alt="">
                            <p>Lenovo</p>
                        </a>

                    </div>
                    <div class="col-lg-3 smartphones ">
                        <a href="">
                            <img src="img/tcl-logo.png" alt="">
                            <p>TCL </p>
                        </a>

                    </div>



                </div>


            </div>




        </div>


    </div>
</section>


<section id="button">
    <a class="top_button" title="Back To Top" href="#" style="display: block;"></a>
</section>



