@model Finalproject.Models.BrandsLogo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>BrandsLogo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <dt class="col-sm-2">
                <img src="~/UploadsBrandlogo/@Model.Image" alt="Alternate Text" style="max-width:500px; max-height:500px" />
            </dt>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <input asp-for="@Model.Id" hidden />
            <input asp-for="@Model.Image" hidden />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info mt-2" asp-action="Index">Back to List</a>
</div>

